*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    overflow: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 241, 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2vw;
    background:linear-gradient(rgb(12, 11, 48),rgb(20, 7, 53));
}

section .left{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding: 0.5vw;
    background:linear-gradient(rgb(25, 3, 81),rgb(224, 8, 83),rgb(25, 3, 81),rgb(125, 5, 47));
    border: solid rgb(59, 43, 100) 0.15vw;
}

section .right{
    width: 78%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgb(12, 11, 48),rgb(20, 7, 53));
    position: relative;
    border: solid rgb(59, 43, 100) 0.15vw;
    border-left: none;
}

@keyframes right-border-animation {
    0%{
        border: solid rgb(59, 43, 100) 0.15vw;
    }
    50%{
        border: solid rgb(245, 241, 241) 0.15vw;
    }
    75%{

    }
    100%{
        border: solid rgb(59, 43, 100) 0.15vw;
    }

}

section .left .name-photo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2vw;
}

section .left .social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
    background-color: rgb(12, 11, 48);
    padding: 0.5vw 2vw;
    position: relative;
    border: solid 0.2vw white;
}

section .left .social h5{
    color: rgb(44, 108, 219);
    font-size: 1.2vw;
    font-weight: 400;
    position: absolute;
    bottom: -2vw;
    padding: 1vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

section .left .social .h51{
    left: 1vw;
}

section .left .social .h52{
    left: 40%;
}

section .left .social .h53{
    right: 1vw;
}

section .left .page{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background: rgb(12, 11, 48);
    border: solid 0.2vw white;
    padding: 0.5vw;
    padding-top: 1vw;
}

section .left .name-photo h5{
    font-size: 1.5vw;
    color: rgb(44, 108, 219);
    font-weight: 500;
    display: none;
}

section .left .name-photo img{
    width: 8vw;
    height: 8vw;
    margin-bottom: 1vw;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: solid 0.2vw white;
}



section .left .social a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    color: white;
    transition: 0.15s;
}

section .left .social a:hover{
    cursor: pointer;
    color: rgb(199, 195, 195);
}



section .left .page .about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
    padding: 0.5vw;
    transition: 0.15s;
}

section .left .page .about i{
    font-size: 1.3vw;
    color: white;
    margin-right: 3vw;
}

section .left .page .about h3{
    font-size: 1.3vw;
    color: white;
    font-weight: 400;
}


section .left .page .about:hover h3{
    cursor: pointer;
    color: rgb(199, 195, 195);
}


section .left .page .about:hover i{
    cursor: pointer;
    color: rgb(44, 108, 219);
}


section .left .page .about:active i{
    cursor: pointer;
    color: white;
}



section .right .home{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url(./image/back.jpg),rgb(47, 72, 85);
    /* background:url(./image/space1\ -\ Copie.jpg),rgb(123, 142, 152); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding-top: 10vw;
    padding-left: 10vw;
}

section .right .home .science-box{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 1vw;
    padding: 1vw 0;
    display: none;
}
section .right .home .science-box i{
    font-size: 2vw;
    width: 5vw;
    height: 5vw;
    background-color: white;
    border-radius: 50%;
    color: rgb(0, 2, 16);
    display: flex;
    align-items: center;
    justify-content: center;
}



section .right .home .science-box-2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 1vw;
    padding: 1vw 0;
}
section .right .home .science-box-2 i{
    width: 3vw;
    height: 3vw;
    background-color: white;
    border-radius: 50%;
    color: rgb(0, 2, 16);
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


section .right .home .about-btn{
    width: 50%;
    border: white;
    background-color:rgb(0, 2, 16);
    border-radius:0.2vw;
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5vw;
    font-weight: 300;
    margin-top: 5vw;
    transition: 0.15s;
    cursor: pointer;
}

section .right .home .about-btn:hover{
   background-color: black;
}

section .right .home .about-btn:active{
    background-color:rgb(12, 11, 48);
 }

section .right .home .love{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    width: auto;
    position: absolute;
    left: 10vw;
    bottom: 3vw;
    background-color: white;
}

section .right .home .love p{
    color: rgb(20, 18, 81);
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    text-shadow: none;
}


section .right .home h4{
    font-size: 4vw;
    color: white;
    text-transform: capitalize;
    margin-bottom: 1vw;
    word-spacing: 0.3vw;
    text-shadow: 0 -0.5vw black;
}

section .right .home p{
    font-size: 2.5vw;
    font-weight: 400;
    color: antiquewhite;
    text-transform: capitalize;
}

section .right .home p span{
    font-size: 2vw;
    color: white;
    font-style: italic;
}


section .right .about{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    /* display: none; */
    position: absolute;
    background-color: white;
    background: url(./image/bg1.jpg),rgb(137, 131, 131);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
}

section .right .about .upper{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vw;
}

section .right .about .upper h3{
    font-size: 3vw;
    color:rgb(44, 108, 219);
    margin-bottom: 1vw;
    padding: 0.5vw;
    border-bottom: solid 0.2vw rgb(44, 108, 219);
    width: 8vw;
}

section .right .about .upper  p{
    color: white;
    font-size: 1.3vw;
    display: inline-block;
    font-weight: 500;
    padding: 1vw;
    background-color: rgba(64, 92, 141, 0.5);
    border-radius: 0 1vw 0 1vw ;
}

section .right .about .upper .dot{
    width: 1vw;
    height: 1vw;
    background-color: rgb(224, 8, 83);
    border-radius: 50%;
    display: inline-block;
}


section .right .about .info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

section .right .about .info img{
    width: 19vw;
    height: 19vw;
    border-radius: 0.5vw;
    border-radius: 50%;
}
section .right .about .info .birth{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 1vw;
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: rgba(255, 255, 255, 0.1);

}

section .right .about .info .birth  h6{
    font-size: 1.6vw;
    color: white;
    margin-bottom: 1vw;
    padding: 0.5vw;
    text-transform: capitalize;
    font-weight:500 ;
    border-bottom: solid white;
    padding-bottom: 0.5vw;
}
section .right .about .info .birth p{
    color: rgb(214, 220, 221);
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

section .right .about .info .birth .chevron{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
}

section .right .about .info .birth .chevron .contentDiv{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

section .right .about .info .birth .chevron .content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}

section .right .about .info .birth .chevron .content i{
    color: rgb(15, 69, 161);
    font-size: 1.5vw;
    margin-right: 0.5vw;
}

section .right .about .info .birth .chevron .content span{
    font-weight: 500;
    color: rgb(214, 220, 221);
    font-size: 1.3vw;
}

section .right .about .info .birth .chevron .content h6{
    font-weight: 300;
    color: rgb(214, 220, 221);
    font-size: 1.3vw;
    margin: 0 !important;
}



section .right .skills{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 1vw;
    /* display: none; */
    position: absolute;
    background: url(./image/ChatGPT\ Image\ 13\ mai\ 2025\,\ 08_41_15.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .skills .skill-up{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4vw;
}


section .right .skills .skill-up h3{
    font-size: 3vw;
    color: rgb(15, 69, 161);
    margin-bottom: 1vw;
    padding: 0.5vw;
    border-bottom: solid 0.2vw rgb(44, 108, 219);
    width: 8vw;
}

section .right .skills .skill-up p{
    color: rgb(214, 220, 221);
    font-size: 1.3vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1vw;
}

section .right .skills .skill-down{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .right .skills .skill-down .skill-down-left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

section .right .skills .skill-down .skill-down-left .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin-bottom: 1vw;
}

section .right .skills .skill-down .skill-down-left .content .letter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 0.5vw;
}
section .right .skills .skill-down .skill-down-left .content .letter h5{
    color: rgb(214, 220, 221);
    font-size: 1.3vw;
    font-weight: 600;
}

section .right .skills .skill-down .skill-down-left .content .graph{
    width: 100%;
    height: 1vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}



@keyframes html-animation {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}


@keyframes php-animation {
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}

@keyframes node-animation {
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}


section .right .skills .skill-down .skill-down-left .content .graph .after{
    width: 0;
    height: 100%;
    position: absolute;
    background: linear-gradient(rgb(44, 108, 219),rgb(224, 8, 83));
    left: 0;
}


section .right .work{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 1vw;
    position: absolute;
    background: url(./image/black1.jpg),rgb(72, 69, 135);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

}


section .right .work .upper{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vw;
}


section .right .work .upper h3{
    font-size: 3vw;
    color: rgb(15, 69, 161);
    margin-bottom: 1vw;
    padding: 0.5vw;
    border-bottom: solid 0.2vw rgb(44, 108, 219);
    width: 8vw;
}

section .right .work .upper  p{
    background: rgba(15, 69, 161,0.25);
    font-size: 1.3vw;
    font-weight: 500;
    padding: 2vw;
    border-radius: 1vw;
    color: white;
}

section .right .work .upper  p span{
    font-style: italic;
    font-size: 1.4vw;
    text-transform: capitalize;
}



section .right .work .down{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 60%;
   position: relative;
}

section .right .work  .number-holder{
    width: 100%;
    height: 3vw;
    display: flex;
   align-items: start;
   justify-content: space-evenly;
   z-index: 5;
   top: -2vw;
}

section .right .work  .number-holder .number-of-div{
    width: 2vw;
    height: 2vw;
    background: rgb(44, 108, 219);
    color: white;
    border-radius: 50%;
    font-size: 1.3vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .right .work  .number-holder .number-of-div:hover{
    color: rgb(44, 108, 219);
    background-color: white;
    box-shadow: 0 0 0.2vw rgb(98, 95, 95);
    transition: 0.15s
}

section .right .work  .number-holder .number-of-div:active{
    color: rgb(44, 108, 219);
    background-color: white;
    box-shadow: 0 0 0.4vw rgb(98, 95, 95);
    transition: 0.15s;
}


section .right .work .down .project-holder-mine{
    width: 100%;
    display: flex;
   align-items: start;
   justify-content: space-around;
   position: absolute;
   margin-top: 1vw;
   top: 0;
}


section .right .work .down .project{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.2vw;
    padding: 0.5vw;
    height: 20vw;
    margin: 0.5vw 2vw;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.25);
}

section .right .work .down .project:hover::after{
    height: 50%;
    bottom: 0;
}

section .right .work .down .project:hover img{
    opacity: 0;
}

section .right .work .down .project:hover .description{
    opacity: 0;
}

section .right .work .down .project:hover::before{
    height: 50%;
    top: 0;
}

section .right .work .down .project:hover .after{
   opacity: 1;
}

section .right .work .down .project::after{
    width: 100%;
    height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -1vw;
    z-index: 2;
    background-color: rgba(34, 31, 31, 0.5);
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transition: 0.3s;
}

section .right .work .down .project::before{
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -1vw;
    z-index: 2;
    background-color: rgba(34, 31, 31, 0.5);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    transition: 0.3s;
}

section .right .work .down .agency:hover{
    background-color: transparent;
    background: url(./image/agencybackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .work .down .clinic:hover{
    background-color: transparent;
    background: url(./image/clinicBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .work .down .energy:hover{
    background-color: transparent;
    background: url(./image/energyBackGround.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


section .right .work .down .farm:hover{
    background-color: transparent;
    background: url(./image/farmBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .work .down .moto:hover{
    background-color: transparent;
    background: url(./image/motoBackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .work .down .portfolio:hover{
    background-color: transparent;
    background: url(./image/portfoliobackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .work .down .restaurant:hover{
    background-color: transparent;
    background: url(./image/restaurantbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section .right .work .down .taxi:hover{
    background-color: transparent;
    background: url(./image/taxibackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



section .right .work .down .project .after{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    z-index: 3;
    /* background-color: rgba(98, 91, 91, 0.5); */
    opacity: 0;
    transition: 0.3s;
}

section .right .work .down .project .after i{
    width: 4vw;
    height: 4vw;
    background-color: white;
    color: rgb(44, 108, 219);
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
}


section .right .work .down .project .after i:hover{
   transform: rotateZ(45deg);
   color: rgb(15, 69, 161);
}

section .right .work .down .project img{
    width: 10vw;
    height: 10vw;
    border-radius: 0.2vw;
    margin-bottom: 1vw;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

section .right .work .down .project .description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .right .work .down .project .description h6{
  width: 50%;
  margin-bottom: 0.5vw;
  color: rgb(44, 108, 219);
  background-color: white;
  font-size: 1.5vw;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3vw;
}


section .right .work .down .project .description p{
    color: white;
    font-size: 1.2vw;
    font-weight: 300;
    text-align: center;
}

section .right .work .down .project .description p span{
    font-size: 1.4vw;
    font-style: italic;
    text-transform: capitalize;
}





section .right .contact{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    position: absolute;
    background: url(./image/black2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


section .right .contact .upper{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2vw;
    /* padding: 2vw; */
}


section .right .contact .upper h3{
    font-size: 3vw;
    color: rgb(15, 69, 161);
    margin-bottom: 1vw;
    padding: 0.5vw;
    border-bottom: solid 0.2vw rgb(44, 108, 219);
    width: 8vw;
}


section .right .contact .upper  p{
    color: rgb(214, 220, 221);
    font-size: 1.3vw;
    font-weight: 400;
    background-color: rgba(15, 69, 161,0.25);
    padding: 1vw;
    width: 50%;
}

section .right .contact .info{
    width: 50%;
    height: 35vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vw;
    padding: 2vw;
   background-color: rgba(31, 38, 48, 0.3);
}

section .right .contact .tool{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5vw;
    margin-bottom: 3vw;
    padding: 2vw;
   border: solid rgb(214, 220, 221) 0.1vw;
}

section .right .contact .tool i{
    width: 3vw;
    height: 3vw;
    background-color: rgb(0, 2, 16);
    color: white;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

section .right .contact .tool  h4{
    font-size: 1.5vw;
    font-weight: 400;
    color: rgb(245, 241, 241);
}

section .right .contact .photo{
    width: 35vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 1vw;
    right: 2vw;
    background-size: cover;
    border-radius: 2vw;
    background-color: rgba(15, 69, 161,0.25);
    margin-top: 2vw;
}
section .right .contact .photo input{
    width: 80%;
    padding: 0.5vw 2vw;
    background-color: white;
    color: grey;
    font-size: 1.1vw;
    margin-bottom: 1vw;
    border: none;
    border-radius: 0.5vw;
    outline: none;
    height: 3vw;
}

section .right .contact .photo textarea{
    width: 80%;
    height: 7vw;
    padding: 0.5vw 2vw;
    background-color: white;
    color: grey;
    font-size: 1.1vw;
    margin-bottom: 2vw;
    border: none;
    border-radius: 0.5vw;
    outline: none;
}

section .right .contact .photo button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 0;
    background-color: rgb(224, 8, 83);
    color: white;
    font-size: 1.5vw;
    border: none;
    border-radius: 1vw;
}

section .right .contact .photo  button:hover{
    background-color: rgb(12, 11, 48);
}

section .right .contact .photo button:active{
    background-color: rgb(224, 8, 83);
}



section .left{
    background-color: black;
    transform: translateX(0);
}

section .right{
    position: relative;
}

section .right .fa-align-justify{
  position: absolute;
  top: 2vw;
  right: 1vw;
  font-size: 5vw;
  color: white;
  z-index: 1;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 108, 219);
  height: 9vw;
  width: 9vw;
  display: none;
  transition: 0.15s;
}

section .right .fa-align-justify:active{
    background-color: black;
}

section .right .home #mobile-atom{
    display: none;
}


section .right .about #about-btn{
    display: none;
}


section .right .skills #skill-btn{
    display: none;
}

section .right .work #work-btn{
    display: none;
}


@media (max-width: 780px) {
    section{
        width: 100%;
        background-color: rgb(245, 241, 241);
        display: flex;
        align-items: center;
        justify-content:center;
        position: relative;
        background-color: blueviolet;
    }

   section .left{
    width: 80%;
    transform: translateX(-100vw);
    position: absolute;
    background-color: black;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 2vw;
    transition: 0.3s;
    height: auto;
    top: 0.5vw;
    }

    
section .right{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 0.2vw rgb(199, 195, 195);
    position: relative;
}


section .right .about #about-btn{
    width: 99%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 92, 141, 0.7);
    font-size: 6vw;
    color: white;
    font-weight: 600;
    /* display: none; */
    border: none;
    border-radius: 2vw;
    margin-top: 10vw;
}

section .right .about #about-btn:active{
    background-color: black;
}



section .right .skills #skill-btn{
    width: 99%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 92, 141, 0.7);
    font-size: 6vw;
    color: white;
    font-weight: 600;
    /* display: none; */
    border: none;
    border-radius: 2vw;
    margin-top: 10vw;
}

section .right .skills #skill-btn:active{
    background-color: black;
}



section .right .work #work-btn{
    width: 99%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(64, 92, 141, 0.7);
    font-size: 6vw;
    color: white;
    font-weight: 600;
    /* display: none; */
    border: none;
    border-radius: 2vw;
    margin-top: 10vw;
}

section .right .work #work-btn:active{
    background-color: black;
}



    
section .right .home{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url(./image/back.jpg),rgb(47, 72, 85);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 20vw;
    padding-left: 0;
}


section .right .home #mobile-atom{
    display: flex;
    font-size: 15vw;
    color: white;
    margin-bottom: 7vw;
    animation: atom-animation 2s infinite backwards;
}

@keyframes atom-animation {
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);

    }
}

section .right .home .science-box-2{
    display: none;
}

section .right .home .love{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 30vw;
    background-color: transparent !important;

}


section .right .home .love .p-god{
    color: white;
    font-size: 4.8vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}


section .right .home .h4-dorcilas{
    font-size: 12vw;
    color: white;
    text-transform: capitalize;
    margin-bottom: 3vw;
    word-spacing: 0.3vw;
}


section .right .home .about-btn{
    width: 80%;
    border: white;
    background-color:rgb(20, 18, 81);
    border-radius: 2vw;
    padding: 3vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 7vw;
    font-weight: 500;
}

section .right .home .about-btn:active{
  background-color: black;

}
section .right .home .p-physicist{
    font-size: 9vw;
    font-weight: 500;
    color: antiquewhite;
    text-transform: none;
    width: 100%;
    text-align: center;
    margin-bottom: 14vw;
}

section .right .home .p-physicist span{
    font-size: 6vw;
    color: white;
    font-style: italic;
}



    section .left .name-photo img{
        width: 20vw;
        height: 20vw;
        margin-bottom: 3vw;
    }

    section .left .name-photo h5{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1vw 3vw;
        color: white;
        /* background-color: rgb(15, 69, 161); */
        font-size: 6vw;
    }

    section .left .page .about{
        width: 100%;
        /* background-color: blueviolet; */
        display: flex;
        align-items: center;
        justify-content: start;
    }

    section .left .page .about h3{
       font-size: 3vw;
       margin-left: 1vw;
    }
    section .left .page .about h3 i{
        font-size: 4vw;
    }

    section .left .social{
        padding: 1vw 2vw;
        margin-bottom: 2vw;
    }
    
    section .left .social i{
       font-size: 4vw;
    }

    section .left .page .about i{
        font-size: 5vw;
    }

    section .right .fa-align-justify{
        display: flex;
    }

   section .right .home h4{
    font-size: 6vw;
   }
   
   section .right .home p{
    font-size: 3vw;
   }
   
   section .right .home p span{
    font-size: 3vw;
   }
   
   section .right .home .love p{
    font-size: 3vw;
   }

   
section .right .fa-align-justify{
    display: flex;
  }


section .right .about{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 2vw;
    overflow: scroll;
}


section .right .about .upper {
   margin-bottom: 13vw;
}
section .right .about .upper .dot{
    width: 3vw;
    height: 3vw;
    background-color: rgb(224, 8, 83);
    border-radius: 50%;
    display: inline-block;
}

section .right .about .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

section .right .about .info .birth{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section .right .about .info .birth #h6-birth{
    font-size: 5vw;
    background-color: white;
    font-weight: bold;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 2vw;
}
section .right .about .info .birth p{
    font-size: 4.5vw;
}

section .right .about .info img{
    display: none;
}

section .right .about .info .chevron{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section .right .about .info .chevron .contentDiv{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section .right .about .info .chevron .contentDiv .content i{
  font-size: 4vw;
}

section .right .about .info .chevron .contentDiv .content h6{
    font-size: 4.5vw;
    background-color: none !important;
  }
  section .right .about .info .chevron .contentDiv .content span{
    font-size: 4.5vw;
  }


section .right .about .upper h3{
    font-size: 7vw;
}

section .right .about .upper p{
    font-size: 4vw;
}

section .right .about .upper p span{
    font-size: 3vw;
}

section .right .skills{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}



section .right .skills .skill-up{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16vw;
}

section .right .skills .skill-up h3{
    font-size: 7vw;
}

section .right .skills .skill-up p{
    font-size: 4vw;
}


section .right .skills .skill-down {
background: rgba(255, 255, 255, 0.1);  
}


section .right .skills .skill-down .skill-down-left{
    padding: 5vw;
  }

section .right .skills .skill-down .skill-down-left .content .letter h5{
  font-size: 4vw;
}
  
section .right .skills .skill-down .skill-down-left .content{
    margin-bottom: 3vw;
  }

    
  
section .right .skills .skill-down .skill-down-left .content .graph{
    width: 100%;
    height: 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}



  section .right .work {
    overflow: scroll;
  }

  
  section .right .work .upper{
    margin-bottom: 18vw;
  }

  section .right .work .upper h3{
    font-size: 7vw;
  }
  
  section .right .work .upper p{
    font-size: 4vw;
  }
  
  section .right .work .upper p span{
    font-size: 4vw;
  }
  
  
  section .right .work  .number-holder{
  margin-bottom: 3vw;
  }

  section .right .work  .number-holder .number-of-div{
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
  }


  
section .right .work .down .project .description h6{
    width: 50%;
    margin-bottom: 0.5vw;
    color: rgb(44, 108, 219);
    background-color: white;
    font-size: 3vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
section .right .work .down{
    height: 30vw;
  }
  

  
  section .right .work .down .project{
  width: 40%;
  padding: 2vw;
  height: auto;
}
  
  section .right .work .down .project .description p{
      color: white;
      font-size: 3.5vw;
      font-weight: 300;
      text-align: center;
      display: none;
  }
  
  section .right .work .down .project .description p span{
      font-size: 4vw;
      font-style: italic;
      text-transform: capitalize;
  }
  
  
section .right .work .down .project img{
    width: 15vw;
    height: 15vw;
    border: radius 50%;;
    margin-bottom: 1vw;
    object-fit: cover;
    object-position: center;
    margin-bottom: 4vw;
}
  


/* contact */

section .right .contact{
    width: 99%;
    height: 99%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1vw;
    position: absolute;
}


section .right .contact .upper{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10vw;
    padding: 2vw;
}


section .right .contact .upper h3{
    font-size: 7vw;
    color: rgb(15, 69, 161);
    margin-bottom: 1vw;
    padding: 0.5vw;
    border-bottom: solid 0.2vw rgb(44, 108, 219);
    width: 8vw;
}


section .right .contact .upper  p{
    color: rgb(214, 220, 221);
    font-size: 4vw;
    font-weight: 400;
    width: 100%;
}


section .right .contact .info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
     background-color: rgba(31, 38, 48, 0.5);
}


section .right .contact .tool{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vw;
    margin-bottom: 3vw;
    padding: 2vw;
   border: solid rgb(214, 220, 221) 0.1vw;
}

section .right .contact .info .tool i{
    width: 8vw;
    height: 8vw;
    background-color:white;
    color: rgb(12, 11, 48);
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

section .right .contact .info .tool  h4{
    font-size: 4vw;
    font-weight: 400;
    color: white;
}

section .right .contact .photo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  bottom: 145px;
  left: 0;
  padding: 3vw;
}
section .right .contact .photo input{
  width: 100%;
  height: 10vw;
  font-size: 3.5vw;
}

section .right .contact .photo textarea{
  width: 100%;
  height: 15vw;
  font-size: 3.5vw;
}

section .right .contact .photo button{
    width: 60%;
    padding: 3vw 0;
    font-size: 4vw;
}


  
  

    
}


